$mainOffset: 15; // отступы безопасности для контейнера
$maxWidth: 1920; // максимальная ширина страницы
$minWidth: 320; // минимальная ширина телефона
$containerWidth: 1160; // ширина контейнера из макета
$maxWidthContainer: $containerWidth + ($mainOffset * 2); // ширина контейнера с учетом padding слева и справа

$headerHeight: 100;
$footerHeight: 100;

:root {
  --bs-font-family: 'Gilroy', sans-serif; // Семейство шрифта по умолчанию
  --bs-font-size: 16px; // Размер шрифта по умолчанию
  --bs-font-weight: 400; // Жирность шрифта по умолчанию
  --bs-line-height: 1; // Базовая высота шрифта
  --bs-font-color: #000; // Цвет шрифта по умолчанию
  --bs-transition: .3s ease-in-out;
  --bs-radius: 10px;

  --primary-color: #FFC60A;
  --white-color: #fff;
}